<<<<<<< HEAD
#hi{
text-align:center;
}
=======
h1{
text-align:center;
font-family:"Bauhaus 93";
font-size:100px;
}
#intro{
font-family:"Buxton Sketch";
text-align:center;
background-color:yellow;

}
p.mix {border-style: dotted dashed solid double;}
>>>>>>> 57c2ae3d980c69056d0fb9b5d27f34c4bc31fd28
