h1{
text-align:center;
font-family:"Bauhaus 93";
font-size:100px;
}
#intro{
font-family:"Buxton Sketch";
text-align:center;
background-color:yellow;

}
p.mix {border-style: dotted dashed solid double;}